$color-primary: #3F7CAC;

$color-secondary: #95afba;
$color-tertiary: #bdc4a7;
$color-quaternary: #E2F89C;
$color-quinary: #d5e1a3;
$color-senary: #962929;
$color-senary-light: #f75555;
$color-white: #fff