.PlayerZero {
    color: black
}
.PlayerOne {
    color: red
}
.PlayerTwo {
    color: blue
}
.PlayerThree {
    color: green
}
.PlayerFour {
    color: purple
}
.PlayerFive {
    color: darkgoldenrod
}
.PlayerSix {
    color: #d763d7
}
.PlayerSeven {
    color: rgb(248, 2, 146)
}
.PlayerEight {
    color: rgb(15, 82, 1)
}
.PlayerNine {
    color: #939393
}
.PlayerTen {
    color: #7b72e6;
}
.PlayerEleven {
    color: rgb(109, 191, 1)
}
.PlayerTwelve {
    color: rgb(202, 98, 0)
}
